{% extends "base.html" %}

{% block content %}
    <h1>Watto's Budget Starship Emporium</h1>
    <p>
        Step right up and browse the finest selection of gently 
        used starships in the Outer Rim Territories, fit for every budget!
    </p>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>Model</th>
                    <th>Manufacturer</th>
                    <th>Crew</th>
                    <th>Passengers</th>
                    <th>Price (Credits)</th>
                </tr>
                {% for product in products %}
                <tr>
                    <td><a href="{{ url_for('products') }}?url={{ product.url }}">{{ product.model }}</a></td>
                    <td>{{ product.manufacturer }}</td>
                    <td>{{ product.crew|default(0) }} </td>
                    <td>{{ product.passengers|default(0) }} </td>
                    <td>{% include "partials/_cost_in_credits.html" %}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
