{% extends "base.html" %}

{% block content %}
<h1>Current Support Tickets</h1>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Product</th>
                <th>Time In Queue</th>
                <th>Handle Ticket</th>
            </tr>
            {% for ticket in tickets|sort(attribute='created_at') %}
            <tr>
                <td>{{ ticket.product_url }}</td>
                <td>{{ now - ticket.created_at }}</td>
                <td><a href="{{ url_for('ticket', ticket_id=ticket.id) }}">Help Customer</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
